.fonts {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: wheat;
}

.button {
    height: 40px;
    width: 200px;
    background-color: black;
    color: wheat;
    font-size: 20px;
}

body {
    display: block;
    text-align: center;
}

.body_color {
    background-color: aqua;
}

.tableCustom {
    max-width: 300px;
    /* Ширина таблицы */
    border-collapse: collapse;
    /* Убираем двойные линии между ячейками */
    border: 2px solid white;
    /* Прячем рамку вокруг таблицы */
    margin: 10% auto;
}

/* td, th {
    padding: 3px;
    
    border: 1px solid maroon;
    
    text-align: left;
    
} */

.button__add{
    background-color: black;
    color: wheat;
    font-size: 15px;
}

.table_margin {
    margin: 10px auto;
}
